
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  margin-bottom: 100px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: #92FE9D solid medium;
 
}

.navbar{
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.navbar-brand img {
  max-width: 100px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  width: 100%;
  height: 100%;
}

.home h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.home h2 {
  color: #fff;
  font-size: 1rem;
}

.home img {
  max-width: 400px;
}

.home a, button, .blue a, .errors a{
  background-color: indianred !important;
  color: #fff !important;
  font-size: 1rem;
  border-radius: 15px !important;
  border: thin solid #fff !important;
  padding: 1% !important;
  text-decoration: none !important;
  max-width: 250px;
  font-family: 'open_sansbold';
  margin: 3%;
  text-align: center;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.home a:hover, button:hover, .blue a:hover, .errors a:hover {
  background-color: crimson !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}

h1 {
  color: #00C9FF
}

.blue img {
  width: 100%;
  max-width: 300px;
}


.slides h2 {
  color: #00C9FF;
  font-family: 'antonregular';
  text-align: center;
  
}

p {
  color: #333;
}

article > .numbers {
  width: 200px;
  height: 200px;
  background-color: #00C9FF !important;
  color: #00C9FF;
  font-size: 4rem;
  display: contents;
  flex-direction: column;
  border-radius: 50%;
  text-align: center;
}

section {
  padding: 2%;
  display: flex;
  align-content: space-around;
  justify-content: center;

}

section h2 {
  color:#00C9FF;
  font-family: 'antonregular';
}

section h3 {
  color: #92FE9D;
  font-size: 1.5rem;
  font-family:'antonregular';
}

section h5 {
  font-size: 0.8rem;
}

article {
  padding: 2%;
}

#register {
  flex-direction: column;
}

#register input {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  color: #fff;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-group {
  margin: 2% 0
}

.card h3 {
  color: #92FE9D;
  font-size: 'open_sanslight' ;
}

.row >* {
  padding: 0;
  text-align: center;
}

.loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top:30% ;
}

#bt-add {
  width: 100% !important;
  max-width: 900px;
  border-radius: 5px !important;
  background-color: #92FE9D !important;
  font-size: 1rem;
}

#bt-add:hover {
  background-color: #00C9FF !important;
}

.photoalbum {
  background-color: #00C9FF;
  border: thick solid #ccc;
  color: #fff;
  font-size: 4rem;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.photoalbum img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photoalbum img:hover {
  opacity: 0.5;
}

.photoalbum > div {
  max-width: 350px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photoalbum h2 {
  z-index: 3;
  position: absolute;
  color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 15% 0;
  text-align: center;
  box-sizing: border-box;
  max-width: 340px;
  max-height: 240px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
}

.photoalbum h2:hover {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
  background-color: rgb(0, 201, 255, 0.5);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.photo {
  margin: 10% 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.photo a{
  text-decoration: none;
  color: #00C9FF;
  font-weight: bold;
}

.under-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel-resume {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  text-align: left;
  color: #fff;
  margin: 0 2%;
  display: flex;
  flex-direction: column;

}

.edit {
  display: flex;
  background-color: indianred;
  padding: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.edit i:hover {
  color: #92FE9D;
}

.edit h3 {
  margin: 0 !important;
}

.travel-resume h3{
  font-size: 1rem;
  margin: 10% 0;
}

.travel-resume h2{
  font-size: 1.5rem;
}

.travel-resume input {
  background-color: transparent;
  color: #fff;

}

.event-resume i:hover {
  color: indianred;
}

.travel-resume img{
  width: 100%;
}

.profile {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.travel-resume > div {
  padding: 7%;
}

.travel {
  display: flex;
  justify-content: space-between;
  margin: 10% 0;
}

.travel h1 {
  color: #fff;
}

.accordion-button {
  background: linear-gradient(180deg, #00C9FF 0%, #92FE9D 100%);
  color: #fff;
  height: 150px;
  padding: 3%;
  text-align: center;
  border-radius: 15px 15px 0 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0;
  border: none !important;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errors {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accordion-button h3 i {
  font-size: 3rem;
}

.accordion-body {
  padding: 0 !important;
}

.icons {
  width: 30%;
  margin-bottom: 5%;
}

.vertical-timeline-element-subtitle {
  font-size: 1rem;
}

.item-checked, .item-checked a {
  background-color: ghostwhite;
  color: #ccc !important;
}

.listed-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.listed-items > i {
  font-size: 3rem !important;
}

.accordion-button::after {
  margin-left: 0;
  color: #fff;
}

.event-resume {
  border-left: #92FE9D solid thick;
  padding: 3% 0 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review div {
  width: 60px;
}

.review-text {
  text-align: center !important;
  padding: 0 3%;
}

.review-text blockquote::before{
  font-size: 1rem;
  margin: auto;
  position: relative;
}

.review-text blockquote {
  margin: 5% 0;
  text-align: left !important;
}

.review-text a{
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.review-text a:hover{
  color: indianred;
  text-decoration: none;
}

.review-text blockquote::after{
  font-size: 1rem;
  margin: auto;
  position: relative;
  margin-right: 8rem;
  margin-top: auto;
}

.reviews {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center
}

.event-resume-action {
  margin: 5% 0;
}

.budget {
  padding: 8% !important
}

.offcanvas span {
  font-size: 3rem;
  color: #92FE9D;
  font-weight: bold;
}

.fine {
  color: #00C9FF;
}

.error {
  color: indianred;
}

.value {
  color: #92FE9D;
}

.budget i {
  font-size: 3rem;
}

.offcanvas {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}

.vertical-timeline::before {
  background: linear-gradient(180deg, #00C9FF 0%, #92FE9D 100%) !important;
}

.vertical-timeline a {
  color: #fff;
  text-decoration: none;
}

.vertical-timeline a:hover {
  color: indianred;
}

.event-detail {
  display: flex;
  justify-content: space-between;
}

.event-detail > div {
  width: 30%;
}

.event-detail h1 {
  margin-top: 10%;
}

.events-list a:hover {
  color: indianred;
}

blockquote {
  font-style: italic;
  margin: 15% 0;
}

.event-detail h5 {
  margin: 5% 0;
}


blockquote:before {                                     
  content: open-quote;
  color: #ccc;
  font-size: 4rem;
  font-family: 'antonregular';
  font-style:normal;
  position: absolute;
  margin-top: -0.6em;
}

blockquote:after {                                     
  content: close-quote;
  color: #ccc;
  font-size: 4rem;
  font-family: 'antonregular';
  font-style:normal;
  position: absolute;
  margin-right: -0.8em;
  margin-top: 0.3em;


}

.item-checked a:hover {
 color: lightcoral !important;
}

.time-detail {
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  color: #fff;
 
}

.time-detail hr {
  border: #fff solid thin;
  width: 100%;
}


.slider { 
  overflow: hidden;
}

.slides {
  margin-top: 5%;
  display: flex;  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  width: 100%; 
}

.slider > a {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

.numbers {
  display: flex;
  justify-content: center;
}

.numbers a {
  background-color: #00C9FF;
  color: #fff;
  display: flex;
  vertical-align: middle;
  width: 50px !important; 
  height: 50px !important;
  border-radius: 50%;
  font-size: 2rem;
  margin: 0 5%;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.events-list {
  font-size: 1rem;
  margin-bottom: 5%;
  margin-top: 0;
}

.events-list li{
  display: flex;
  justify-content: space-between;
}

.events-list li:last-child {
  border-radius: 0 0 15px 15px;
}

.events-list a{
  text-decoration: none !important;
  color: #333
}

.add-list {
  color: #00C9FF;
}

.vertical-timeline-element-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.form-modal, .event-form {
  position: fixed;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15%;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
}

.form-modal h3, .event-form h3 {
  color: #92FE9D;
  font-size: 1.2rem;
  padding-top: 2%;
  font-family: 'antonregular';
}

.form-modal h1, .event-form h1 {
  margin-top: 5%;
}

.form-modal h6 {
  color: #fff !important;
}

.red{
  margin-top: 20%;
  color: indianred;
  text-align: right;
}
.event-form .red {
  margin-top: 0%;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.main-text {
  padding: 0 2% 5% 2%;
}

.card-title {
  background-color: #92FE9D;
  color: #333;
}

.card-text {
  color: #fff;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1)
}

figcaption small {
  color: #fff;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-height: 320px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-ruby {
	background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

figure.effect-ruby img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}


/* ///ANIMATIONS // */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}


.swirl-in-tr-fwd {
	-webkit-animation: swirl-in-tr-fwd 0.6s ease-out both;
	        animation: swirl-in-tr-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-in-tr-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes swirl-in-tr-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

#how {
  flex-direction: row-reverse;
}

.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}



@media(max-width: 768px) {
  body {
      padding: 0;
  }

  #what, #how {
    flex-direction:column-reverse ;
  }

  .errors, .dates, .travel, .event-detail, .profile {
    flex-direction:column
  }
  .event-detail > div {
    width: 100%;
  }

  .numbers {
    margin-top: 10%;
  }

  .form-modal {
    overflow: scroll;
    margin-top: 20%;
  }

  #what img, #how img, .errors img {
    width: 100%;
  }

  .blue {
    flex-direction: column;
    align-items: center;
  }
}
