
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  margin-bottom: 100px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: #92FE9D solid medium;
}

.navbar{
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.navbar-brand img {
  max-width: 100px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  width: 100%;
  height: 100%;
}

.home h1 {
  color: #fff;
  font-size: 3rem;
}

.home h2 {
  color: #fff;
  font-size: 1rem;
}

.home img {
  max-width: 400px;
}

.home a, button{
  background-color: indianred !important;
  color: #fff !important;
  font-size: 1rem;
  border-radius: 15px !important;
  border: thin solid #fff !important;
  padding: 1% !important;
  text-decoration: none !important;
  max-width: 250px;
  font-family: 'open_sansbold';
  margin: 3%;
  text-align: center;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.home a:hover, button:hover {
  background-color: crimson !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}

section {
  padding: 5%;
  display: flex;

}

section h2 {
  color:#00C9FF;
  font-family: 'antonregular';
}

section h3 {
  color: #92FE9D;
  font-size: 1.5rem;
  font-family:'antonregular';
}

section h5 {
  font-size: 0.8rem;
}

#register {
  flex-direction: column;
}

#register input {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  color: #fff;
}

.input-group {
  margin: 2% 0
}

.card h3 {
  color: #92FE9D;
  font-size: 'open_sanslight' ;
}

.row >* {
  padding: 0;
  text-align: center;
}

.loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top:30% ;
  
}

.travel-resume {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  text-align: left;
  color: #fff;
  margin: 0 2%;
  padding: 3%;
}

.travel-resume h3{
  font-size: 1rem;
}

.travel-resume h2{
  font-size: 1.5rem;
}

.travel-resume img{
  width: 100%;
}

.travel {
  display: flex;
  justify-content: space-between;
  margin: 10% 0;
}


/* ///ANIMATIONS // */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}


.swirl-in-tr-fwd {
	-webkit-animation: swirl-in-tr-fwd 0.6s ease-out both;
	        animation: swirl-in-tr-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-in-tr-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes swirl-in-tr-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}



